* {
    font-family: 'Yusei Magic';
    font-size: 12px;
}

*:focus {
    outline: 2px dashed yellow;
}

.notxt {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

input {
    background-color: transparent;
    cursor: pointer;
}

select:hover:not(:focus) {
    box-shadow: 0px 0px 2px 2px yellow;
    cursor: pointer;
}

input:hover:not(:focus) {
    box-shadow: 0px 0px 2px 2px yellow;
    cursor: pointer;
}

input:focus:hover {
    cursor:text;
}

body {
    margin: 0px 0px;
    background-color: rgb(173, 204, 230);
}

.topgrid {
    display: grid;
    width: 1020px;
    height: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-rows: 65px min-content 50px auto;
    grid-template-columns: auto min-content;
    margin: auto;
    margin-top: 10px;
    gap: 5px;
    grid-template-areas: 
    'nameflex image'
    'topinfo topinfo'
    'pagetabs pagetabs'
    'tabdiv tabdiv'
    ;
    border: none;
    border-radius: 3px;
    background-color: rgb(24, 61, 117);
    box-shadow: 0px 0px 8px 3px black;
}

.image {
    border: 2px solid white;
    border-radius: 2px;
    text-align: center;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
    background-color: rgb(36, 36, 36);
    height: 200px;
    width: 200px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 0px 0px 6px 1px black;
}

.nameflex {
    margin-top: 5px;
    height: min-content;
    display: flex;
    justify-content: space-between;
    vertical-align:bottom
}

.charnamediv {
    border: 1px solid black;
    border-radius: 4px;
    background: linear-gradient(0.15turn, orange, darkred);
    box-shadow: 0px 0px 8px 1px black;
    position: relative;
    top: -10px;
    left: -15px;
}

.charname {
    font-family: 'Bangers';
    color: white;
    text-shadow: 3px 3px 2px black,0px 0px 8px black;
    font-size: 48px;
    text-align: center;
    font-variant: small-caps;
    height: min-content;
    width: 400px;
    border: 2px solid black;
    border-radius: 2px;
}

.charname::placeholder {
    color: darkgray;
    text-shadow: 3px 3px 2px rgb(32, 32, 32),0px 0px 8px 4px black;
}

.charname:placeholder-shown {
    background: linear-gradient(0.15turn, orange, darkred);
}

.charname:focus {
    background: linear-gradient(0.15turn, rgb(185, 121, 0), rgb(63, 0, 0));
}

.charname:focus::placeholder {
    color: transparent;
    text-shadow: none;
}

.playertitle {
    font-family: 'Permanent Marker';
    font-size: 18px;
    margin-bottom: 0px;
    align-self: right;
    border: none;
    height: min-content;
    width: 400px;
    color: white;
    text-shadow: 2px 3px 3px black,0px 0px 6px black;
}

.playername {
    font-family: 'Yusei Magic';
    font-size: 18px;
    margin-bottom: 0px;
    align-self: right;
    border: none;
    height: min-content;
    width: 400px;
    color: white;
    text-shadow: 2px 2px black,0px 0px 6px black;
}

.topinfo {
    text-align: center;
    margin-top: 0px;
    height: min-content;
    background-color: rgb(53, 53, 53);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px black;
}

.basictitle {
    margin: auto;
    font-family: 'Permanent Marker';
    font-size: 18px;
    font-weight: normal;
    color: white;
    text-shadow: 2px 3px 3px black,0px 0px 6px black;
    border-radius: 5px;
}

.breakline {
    color: black;
    border: 1px solid black;
    margin-top: 3px;
    width: 100%;
}

.basicinfo {
    display: flex;
    gap: 5px;
    height: min-content;
    flex-wrap: wrap;
    margin: 8px;
}

.exptop {
    display: flex;
    box-shadow: 0px 0px 6px 1px black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.infotxt {
    color: white;
    font-size: 14px;
    height: 18px;
    text-shadow: 0px 0px 8px black,2px 2px 2px black;
}

.infoinput {
    text-align: center;
    height: 20px;
    font-size: 13px;
    color: white;
    padding-bottom: 3px;
    border: 0;
    background-color: rgb(133, 133, 133);
    border-radius: 6px;
    text-shadow: 0px 0px 8px black,2px 2px 2px black;
    box-shadow: inset 0px 0px 3px 2px black;
}

.infoselect {
    text-align: center;
    height: 24px;
    font-size: 13px;
    color: white;
    padding: 2px;
    padding-top: 1px;
    padding-bottom: 3px;
    border: 0;
    background-color: rgb(133, 133, 133);
    border-radius: 6px;
    text-shadow: 0px 0px 8px black,2px 2px 2px black;
    box-shadow: inset 0px 0px 3px 2px black;
}

option {
    text-align: center;
    height: 24px;
    font-size: 13px;
    color: white;
    padding: 2px;
    padding-top: 1px;
    padding-bottom: 3px;
    border: 0;
    background-color: rgb(133, 133, 133);
    border-radius: 6px;
    text-shadow: 0px 0px 8px black,2px 2px 2px black;
    box-shadow: inset 0px 0px 3px 2px black;
}

.pagetabs {
    display: flex;
    height: min-content;
    margin-top: 20px;
}

.tabradio {
    display: none;
    position: absolute;
    width: 50px;
}

.tabradio:checked + .tablabel {
    /*height: 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transform: translate(0px, -10px);
    
    background: linear-gradient(darkred 80%,rgb(53, 53, 53));*/
    animation-name: tabup;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}

.tablabel {
    font-family: "Permanent Marker";
    color: white;
    font-size: 16px;
    text-shadow: 0px 0px 8px black,2px 2px 2px black;
    border: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 30px;
    line-height: 30px;
    width: 100px;
    text-align: center;
    background-color: rgb(36, 36, 36);
    box-shadow: inset 0px 8px 8px -8px black;
    z-index: 7;
}

.tablabel:hover {
    cursor: pointer;
    animation-name: tabhover;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.leftlbl {
    border-left: 2px solid black;
}

.rghtlbl {
    width: 35px;
    border-right: 2px solid black;
}

@keyframes tabup {
    from {

    }
    to {
        height: 39px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        transform: translate(0px, -7px);
        background: linear-gradient(darkred 80%,rgb(53, 53, 53));
        border-bottom: 0;
        box-shadow: inset 0px 10px 8px -8px white;
    }
}

@keyframes tabhover {
    from {

    } to {
        box-shadow: inset 0px 10px 8px -8px rgb(122, 122, 122);
    }
}

.tabdiv {
    background-color: rgb(53, 53, 53);
    border: 2px solid black;
    border-radius: 5px;
    border-top-left-radius: 0px;
    margin-bottom: 5px;
    transform: translate(0px, -3px);
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 5;
    box-shadow: 0px 0px 6px 1px black;
}

.tabsect {
    display: none;
    color: white;
    font-size: 14px;
    height: 18px;
    text-shadow: 0px 0px 8px black,2px 2px 2px black;
}

.tabswitch {
    display: none;
}

.tabswitch:checked ~ .tabsect {
    display: block;
}

.material-symbols-outlined {
    font-size: 20px;
    line-height: 32px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}